In [2]:
def fun(**kwargs):
        print(kwargs)
fun(a=1,b=2,c=3,d=4,s=19,r=18)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 's': 19, 'r': 18}

### Dictionary

In [1]:
d = dict()

In [2]:
d["one"] = 1
d["two"] = 2
d["three"] = 3

In [3]:
d

{'one': 1, 'two': 2, 'three': 3}

In [4]:
d['one']

1

In [5]:
d['two']

2

In [11]:
d['four'] #becoz this letter is not a part of our dictionary d

KeyError: 'four'

In [24]:
# these are some important functions
d.keys() # also used for key values
d.values()   # also used for key 
d.items()    #we will get touple of dictionary

dict_items([('a', 'one'), ('b', 'two'), ('c', 's'), ('d', 'four'), ('e', 'five')])

In [20]:
len(d) # len also works for dict

5

In [4]:
d = {'one': 1, 'two': 2, 'three': 3}

In [6]:
'one' in d # it will find the values for keys but not for values of dictionary

True

In [27]:
'1' in d

False

In [18]:
vals = d.values() # to see whether something appears as a value in dictionary
'1' in vals

False

In [1]:
dict()

{}

In [5]:
d.

SyntaxError: invalid syntax (Temp/ipykernel_6680/673927769.py, line 1)

In [2]:
#kwargs
def fun(**kwargs):
    for i,j in kwargs.items():
        print(i,j)
fun(a=1,b=2,c=3)

a 1
b 2
c 3

In [8]:
#kwargs
def fun(**kwargs):
    print(kwargs)         #it will show kwargs as dictionary
    for i,j in kwargs.items():
        print(i,j)
fun(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}
a 1
b 2
c 3

In [12]:
d = { 'a' : 'one', 'b' : 'two', 'c' : 'three', 'd' : 'four', 'e' : 'five'}

In [13]:
d.get('c')

'three'

In [9]:
d.pop('c')

'three'

In [7]:
d

{'one': 1, 'two': 2, 'three': 3}

In [12]:
d.popitem()      # no need to define key. bydefalt it will always pop last item

('e', 'five')

In [9]:
d1 = d.copy()
d1

{'one': 1, 'two': 2, 'three': 3}

In [16]:
d.fromkeys([1,2,3,4,5,6],"euglena")

{1: 'euglena',
 2: 'euglena',
 3: 'euglena',
 4: 'euglena',
 5: 'euglena',
 6: 'euglena'}

In [17]:
d.update()

In [20]:
d1 = {1:23, 2:34, 3:56}    # see the difference
d2 = {4:54, 5:67, 2:98}
d1.update(d2)
d1

{1: 23, 2: 98, 3: 56, 4: 54, 5: 67}

In [23]:
d.keys()

dict_keys(['a', 'b', 'd'])

In [24]:
d.items()

dict_items([('a', 'one'), ('b', 'two'), ('d', 'four')])

In [11]:
a = {'one': 1, 'two': 2, 'three': 3}

In [12]:
a

{'one': 1, 'two': 2, 'three': 3}

In [1]:
d = {}
type(d)

dict

###  nested dictionary

In [8]:
d = {"keys":{"nestedkey:{"subnested":values}}}

SyntaxError: invalid syntax (Temp/ipykernel_2472/3149257659.py, line 1)

NameError: name 'keys' is not defined

In [33]:
d = {2:{3:{4:45}}}     #you need to find 45

In [6]:
d[2][3][4]

45

In [ ]:
a = {}

In [21]:
d_ages = {"aman":33, "mohan":45, "srikanth":39, "paarul":33}
for i in d_ages.keys():
    if d_ages[i]>35:
        print(i," is gold")
    else:
        print(i, " is young")

aman  is young
mohan  is gold
srikanth  is gold
paarul  is young

In [31]:
d_ages = {"aman":33, "mohan":45, "srikanth":39, "paarul":33}
for i,j in d_ages.items():    #using items dict will be converted in touples
    if j>35:
        print(i,"is old")
    else:
        print(i,"is young")

aman is young
mohan is old
srikanth is old
paarul is young

###  Dictionary comprehension

In [ ]:
# to understand dict comprehension we need to understand list comprehensions
# it shortens possible way to create a list

In [1]:
# list comprehension
[logic(i**2) for i in range(1,11)]

NameError: name 'logic' is not defined

In [ ]:
 WAP to print the square of numbers from 1 to 20 and then print them in a list

In [35]:
l = list()
def square():
    for i in range(1,21):
        l.append(i**2)
    print(l)
square()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [1]:
l = list()
def fun():
    for i in range(1,21):
        l.append(2*i+1)
    print(l)
fun()

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41]

In [1]:
l = list()
def square():
    for i in range(1,21):
        l.append(i**2)
        print(l)
square()

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [36]:
l = list()
def square():
    for i in range(1,21):
        l.append(i**2)
    print(l)
square()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [11]:
[i**2 for i in range(2,21)]

[4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [12]:
#for dictionary the same fuction can be performed as below
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [4]:
d = {}
for i in range(2,10):
    if i%2 ==0:
        print(i**2)
#           d[i**2]
    else:
        print(i**3)

4
27
16
125
36
343
64
729

In [13]:
{i:i**2 if i%2==0 else i**3 for i in range(1,21)}   #dictionary comprehensions
                                                    # to calculate the cube of even numbers

{1: 1,
 2: 4,
 3: 27,
 4: 16,
 5: 125,
 6: 36,
 7: 343,
 8: 64,
 9: 729,
 10: 100,
 11: 1331,
 12: 144,
 13: 2197,
 14: 196,
 15: 3375,
 16: 256,
 17: 4913,
 18: 324,
 19: 6859,
 20: 400}

In [ ]:
ITERATORS:
    THEY ARE LAZY EVALUATORS AS THEY FETCH ONLY ONE VALUE AT A TIME
    ONLY CREATED BY ITERATORS

In [21]:
a = iter([1,2,3,4,5])
a

In [23]:
next(a)    # we can execut it again and again

2

In [ ]:
# generator is use defined function (use yield)
# iterator is built - in function( use next)

In [24]:
def fun():
    return 10+20
fun()

30

In [3]:
based on irators are follows

SyntaxError: invalid syntax (Temp/ipykernel_1572/908727391.py, line 1)

In [37]:
a = list(map(float,input().split()))

10 20 30 40 50

In [38]:
a

[10.0, 20.0, 30.0, 40.0, 50.0]

In [39]:
type(a[0])

float

In [21]:
l1 = [1,3,5,7,9]
l2 = [1,2,4,6,8,9]

In [22]:
def fun(a,b):
    c = a+b
    return

In [24]:
l1 = [1,3,5,7,9]
l2 = [1,2,4,6,8,9]
list(map(fun,l1,l2))

[None, None, None, None, None]

In [25]:
l1 = [1,3,5,7,9]
l2 = [1,2,4,6,8,9]
list(map(lambda c:(l1+l2,l1,l2)))

TypeError: map() must have at least two arguments.

In [ ]:
#anonymous function lambda

In [18]:
c = {0,20,40,-40,50}

In [19]:
def fun(c):
    f = 9/5*c +32
    return f

In [20]:
l1 = [0,20,-40,40,50]
list(map(fun,l1))

[32.0, 68.0, -40.0, 104.0, 122.0]

In [24]:
l1 = [0,20,-40,40,50]
list(map(lambda c:(9/5)*c +32,l1))

[32.0, 68.0, -40.0, 104.0, 122.0]

In [ ]:
a = lambda c:(9/5)*c +32
a(0)

In [ ]:
a = lambda

In [32]:
radius = [5.10,11,8]
list(map(lambda r:4/3*3.14*r**3,radius))

[555.36552, 5572.453333333333, 2143.5733333333333]

### Filter

In [ ]:
filter :
    filter(function,iterable)

In [32]:
l1 = [12,45,23,88,65,44]
list(filter(lambda x:x if x%2==0 else "",l1))

[12, 88, 44]

In [4]:
l = [2,3,56,75,90]
list(filter(lambda x:x if x%3==0 else "",l))

[3, 75, 90]

###  Generators

they are also like iterators, the difference is iterator can be made using a built-in function 
itr() and the value can be accesed one at a time by next()

In [5]:
def fun(a,b):
    c = a+b
    yield c
fun(10,45)

In [6]:
a = fun(10,45)
next(a)

55

In [7]:
# WAP to create fibonaci series using generator function
def fib(n):
    a = 0
    b = 1
    for i in range(n):
        c = a
        a = b
        b = a+c
        yield c
fib(10)

In [9]:
for i in fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [2]:
d = { 'a' : 'one', 'b' : 'two', 'c' : 'three', 'd' : 'four', 'e' : 'five'}

In [3]:
len(d)

5

In [16]:
'b' in d

True

In [17]:
'two' in d

False

In [19]:
values = d.values()
'two' in values

True

In [2]:
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1
        else:
            d[c] += 1
    return d

In [3]:
h = histogram('brontosaurus')
h
{'a': 1, 'b': 1, 'o': 2, 'n': 1, 's': 2, 'r': 2, 'u': 2, 't': 1}

{'a': 1, 'b': 1, 'o': 2, 'n': 1, 's': 2, 'r': 2, 'u': 2, 't': 1}

In [4]:
d = { 'a' : 'one', 'b' : 'two', 'c' : 'three', 'd' : 'four', 'e' : 'five'}

In [9]:
x = d.get('c',0)          #get function
x
y = d.get('e')
y

'five'

In [12]:
d =  { 'a' : 'one', 'b' : 'two', 'c' : 'three', 'd' : 'four', 'e' : 'five'}

In [13]:
def prnt(d):
    for i in d:
        print(i,d[i])
prnt(d)

a one
b two
c three
d four
e five

In [14]:
dict()

{}

In [15]:
d.sort

AttributeError: 'dict' object has no attribute 'sort'

In [16]:
d['c'] = 's'# dictionary allows duplicacy
d

{'a': 'one', 'b': 'two', 'c': 's', 'd': 'four', 'e': 'five'}

In [18]:
d.get('a')

'one'

In [21]:
d.popitem()

('e', 'five')

In [23]:
d.pop('b')

'two'

In [25]:
d1 = d.copy()
d1

{'a': 'one', 'c': 's', 'd': 'four'}

In [29]:
d1.clear()
d1

{}

In [30]:
d.fromkeys([1,2,3,4,5],"aman")

{1: 'aman', 2: 'aman', 3: 'aman', 4: 'aman', 5: 'aman'}

In [ ]:
d.update

In [31]:
d1 = {1:25, 2:50, 3:75, 4:100}
d2 = {5:125, 3:150, 4:175}
d1.update(d2)

In [32]:
d1

{1: 25, 2: 50, 3: 150, 4: 175, 5: 125}

### homework

In [5]:
# we have list of fruit
l = ["apple", "banana", "orange", "kiwi", ""]

SyntaxError: invalid syntax (Temp/ipykernel_4780/2838800466.py, line 1)